name: Release Binary

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Build Binary
        run: |
          go build -v -o rofi-chem ./cmd/rofi-chem/main.go

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: rofi-chem
          body: "Automatic release of rofi-chem with embedded chemical database."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
